@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		color-scheme: light;
		/* https://tailwindcss.com/docs/customizing-colors#using-css-variables */
		--theme-bg: 0deg 0% 98%;
		--theme-link: 202deg 88% 77%;
		--theme-text: 202deg 11% 15%;
		--theme-accent: 202deg 88% 50%;
		--theme-accent-2: 0deg 0% 7%;
		--theme-quote: 202deg 68% 48%;
		--theme-secondary: 0deg 0% 90%;
	}

	:root.dark {
		color-scheme: dark;
		--theme-bg: 200deg 5% 12%;
		--theme-link: 0deg 0% 93%;
		--theme-text: 220% 3% 79%;
		--theme-accent: 202deg 100% 75%;
		--theme-accent-2: 0deg 0% 93%;
		--theme-quote: 202deg 88% 88%;
		--theme-secondary: 0deg 0% 20%;
	}

	html {
		@apply scroll-smooth;
	}

	html body {
		@apply mx-auto flex min-h-screen max-w-3xl flex-col bg-bgColor px-8 pt-16 font-serif text-sm font-normal text-textColor antialiased;
	}
}